/* Add these x0 class to any control that you wish to be affected by the
enableControls() and disableControls() methods in main.JS.

NOTE:In addition to adding this class, you must set the initial state to diabled, so that
on page load the controls are disabled by default.*/

body {
    font-family: "Overpass", "Open Sans", Helvetica, sans-serif;
    color: rgb(248 248 242);
}

hr {
    opacity: 0.4;
}

/*.flowiographic {*/
/*    visibility: visible;*/
/*    opacity: 0.4;*/
/*    !*No height or width is specified, so that it can fill the width of the container (grid-cell) in which we will place it*!*/
/*}*/

.svg_air {
    fill: hsl(200, 90%, 90%);
}

.btn-scheduler {
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 2px;
    padding: 4px 12px;
    border-radius: 18px;
}

.btn-run {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 20px 2px;
    padding: 4px 20px;
    border-radius: 8px;
}

.svg-red {}
